<footer class="site-footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        &copy; <a href="http://www.mtmofficial.com">mtmofficial</a> 2016.
        designed by <a href="http://www.kolbeypruitt.com">kolbeypruitt</a>
      </div>
    </div>
  </div>
</footer>
<script>
    // class moves footer to bottom for products page
    console.log(window.location.href);
    if (window.location.href===window.location.origin + '/products') {
      document.getElementById('footer').className = 'site-footer lock-footer';
    }
</script>