{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}
  
  <section class="home" id="home" data-stellar-background-ratio="0.4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="st-home-unit">
            <div class="hero-txt">
              <p class="hero-work">Singer - Song Writer - Christian</p>
              <h2 class="hero-title">Mike T Music</h2>
              <!-- <p class="hero-sub-title">We Provide Hight Quality Bootstrap Template</p> -->
              <!-- <a href="#" class="btn btn-default btn-lg left-btn">Purchase Now</a> -->
              <!-- <a href="#" class="btn btn-main btn-lg">Find Out More</a> -->
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="mouse-icon"><div class="wheel"></div></div>
  </section>

  <section class="about" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row mb90">
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
              <div class="section-title st-center">
                <h2>Upcoming Release</h2>
                <a href="/product/56c5208397019d8861d6ba5a">
                  <p>Joyful Noise</p>
                  <img src="{{ baseurl }}/img/album.jpg" alt="" class="img-responsive" id="album-img">
                </a>
              </div>
            </div>
            <div class="col-md-5">
              <div class="section-title st-center">
                <h2>Featured in Lucy's</h2>
                <a href="magazine.html" target='_new'>
                  <p>Read Article</p>
                  <img src="{{ baseurl }}/img/mag-thumbnail.png" class="img-responsive" id="album-img">
                </a>
              </div>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="subscribe" name="followMe">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="subscribe-title">Subscribe Newsletter</h3>
          <form  role="form" class="subscribe-form">
            <div class="input-group">
              <input type="email" class="form-control" id="mc-email" placeholder="Enter E-mail...">
              <span class="input-group-btn">
                <button class="btn btn-main btn-lg" type="submit">Subscribe!</button>
              </span>
            </div>
          </form>
          <div class="subscribe-result"></div>
          <p class="subscribe-or">or</p>
          <ul class="subscribe-social">
            <li><a href="http://twitter.com/mike_tmusic" class="social twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="https://www.facebook.com/Mike-T-Music-1413341585573961/" class="social facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
            <li><a href="#" class="social rss"><i class="fa fa-rss"></i> RSS</a></li>
            <li><a href="https://www.instagram.com/mikeymcflyyy/" class="social instagram"><i class="fa fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock %}