{% extends '_base.html' %}
{% block title %}{% endblock %}
{% block content %}
  <section class="standard-section" id="products">
    <div class="container">
      <h1>Product List</h1>
      <p class="lead">Which would you like to purchase?</p>
      <a class="btn btn-danger" href="/">Go home</a>
      <br><br>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          {% for product in products %}
            <h1>{{ product.name }}</h1>
            <img class="products-thumnail" src="{{ baseurl }}/img/priorities_cover.png" alt="priorities_cover">
            <br>
            <br>
            <a class="btn btn-primary modal__trigger align-center" data-modal="#modal2" href="">Check it out</a>
            <!-- </div> -->
            <div id="modal2" class="modal modal--align-top modal__bg" role="dialog" aria-hidden="true">
              <div class="modal__dialog">
                <div class="modal__content">
                  <div class="row">
                    <div class="col-md-6">
                      <p><img class="img-responsive products-modal-img" src="{{ baseurl }}/img/priorities_cover.png" alt="priorities_cover"></p>
                    </div>
                    <div class="col-md-6">
                      <h1>{{ product.name }}</h1>
                      <h3>${{ product.amount }}</h3>
                      
                      <table class="table">
                        <th>Songs</th>
                        <!-- <th>Time</th> -->
                        <tbody>
                          <tr>
                            <td>1. What We Stand To Lose</td>
                            <!-- <td>3:36</td> -->
                          </tr>
                          <tr>
                            <td>2. Jesus Is Coming Soon</td>
                            <!-- <td>-:--</td> -->
                          </tr>
                          <tr>
                            <td>3. Come Ye Sinners</td>
                            <!-- <td>-:--</td> -->
                          </tr>
                          <tr>
                            <td>4. Congratulation (for Karla)</td>
                            <!-- <td>-:--</td> -->
                          </tr>
                          <tr>
                            <td>5. The Conversation (feat. Taylor Cunningham)</td>
                            <!-- <td>-:--</td> -->
                          </tr>
                          <tr>
                            <td>6. Come Thou Fount (Violin By Taylor Cunningham)</td>
                            <!-- <td>-:--</td> -->
                          </tr>
                          <tr>
                            <td>7. Christ Alone (Feat. Taylor Ude)</td>
                            <!-- <td>-:--</td> -->
                          </tr>
                        </tbody>
                      </table>
                        <a class="btn btn-info loginBtn" id="buyNow" role="button">Buy Now</a>
                      <!-- modal close button -->
                      <a href="" class="modal__close demo-close">
                        <svg class="" viewBox="0 0 24 24"><path d="M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z"/><path d="M0 0h24v24h-24z" fill="none"/></svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<form action="/stripe" method="POST">
  <script
    src="//checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="pk_live_b1fKAAtzMASVblPpI2RIoPI0"
    data-image="/img/mtm_logo.png"
    data-name="Pay Now"
    data-description="{{'Purchase '+product1.name}}"
    data-amount={{parseInt(product1.amount)*100}}
    data-shipping-address="true">
  </script>
</form>
<script>
var handler = StripeCheckout.configure({
key: 'pk_live_b1fKAAtzMASVblPpI2RIoPI0',
image: '/img/mtm_logo.png',
locale: 'auto',
shippingAddress: 'true',
receipt_email: 'true',
token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
});

$('#buyNow').on('click', function(e) {
  $('.stripe-button-el').click();
});
</script>
<style type="text/css">
  .stripe-button-el {
    visibility: none;
    display: none;
  }
</style>
{% endblock %}