{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

<section class="standard-section" id="products">
  <div class="container">
    <h1>Product List</h1>
    <p class="lead">Which would you like to purchase?</p>
    <a href="/">Go home</a>
    <br><br>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {% for product in products %}
          <div class="jumbotron" id="product-item">
            <img src="{{ baseurl }}/img/joyfulNoise.png" alt="joyfulNoise">
            <br>
            <br>
            <a href="/product/{{product._id.toString()}}">{{ product.name }}</a>
            <br>
            <p>${{ product.amount }}</p>
          </div>
        {% endfor %}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>

{% endblock %}