{% extends '_base.html' %}

{% block title %}{% endblock %}


{% block content %}

<section class="standard-section" id="product">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="jumbotron" id="product-item">
          <h1>{{product.name}}</h1>
          <p class="lead">${{product.amount}}</p>
          <a href="/products">Back to product list</a>
          <img src="{{ baseurl }}/img/joyfulNoise.png" alt="joyfulNoise">
          <br>
          <br>
          {% if user %}
            <a class="btn btn-primary" href="/charge/{{product._id.toString()}}" role="button">Buy Now</a>
          {% else %}
            <h3>Please <a href="/auth/login">log in</a> to Purchase!</h3>
          {% endif %}
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>

{% endblock %}