{% extends '_base.html' %}
{% block title %}{% endblock %}
{% block content %}

  <section class="standard-section" id="product">
    <div class="container">
      <a class="btn btn-danger" href="/products">Back to product list</a>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div id="product-item">
            <h1 class="list-group-item-heading">{{product.name}}</h1>
            <img class="priorities-img" src="{{ baseurl }}/img/priorities_cover.png" alt="priorities_cover">
            <h2 class="text-right">${{product.amount}}</h2>
            <br>
            <table class="table">
              <th>Songs</th>
              <th>Time</th>
              <tbody>
                <tr>
                  <td>1. What We Stand To Lose</td>
                  <td>3:36</td>
                </tr>
                <tr>
                  <td>2. Jesus Is Coming Soon</td>
                  <td>-:--</td>
                </tr>
                <tr>
                  <td>3. Come Ye Sinners</td>
                  <td>-:--</td>
                </tr>
                <tr>
                  <td>4. Congratulation (for Karla)</td>
                  <td>-:--</td>
                </tr>
                <tr>
                  <td>5. The Conversation (feat. Taylor Cunningham)</td>
                  <td>-:--</td>
                </tr>
                <tr>
                  <td>6. Come Thou Fount (Violin By Taylor Cunningham)</td>
                  <td>-:--</td>
                </tr>
                <tr>
                  <td>7. Christ Alone (Feat. Taylor Ude)</td>
                  <td>-:--</td>
                </tr>
              </tbody>
            </table>
            <br>
            {% if user %}
              <a class="btn btn-primary" id="customButton"  role="button">Buy Now</a>
            {% else %}
              <h3>Please <a href="/auth/login">log in</a> to Purchase!</h3>
            {% endif %}
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </section>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script>
  var handler = StripeCheckout.configure({
  key: 'pk_test_LBAIutNdUcENELbP79ZG5yVI',
  image: '/img/mtm_logo.svg',
  locale: 'auto',
  shippingAddress: 'true',
  receipt_email: 'true',
  token: function(token) {
  // Use the token to create the charge with a server-side script.
  // You can access the token ID with `token.id`
  }
  });
  $('#customButton').on('click', function(e) {
  // Open Checkout with further options
  handler.open({
  name: 'Stripe.com',
  description: '2 widgets',
  amount: 2000
  });
  e.preventDefault();
  });
  // Close Checkout on page navigation
  $(window).on('popstate', function() {
  handler.close();
  });
  </script>
{% endblock %}